:root { 
   --black: #000;
   --white: #fff;
   --grey: #808080;
   --darkgreen: #004d38;
   --lightgreen: #a9ffe8;

   --xs: 0.5rem;
   --sm: 1rem; 
   --md: 1.5rem;
   --lg: 2rem;
   --xl: 3rem;
   --xxl: 4rem;

   --font-main: 'Lato', sans-serif; 

   --background-color: var(--white);
   --text-color: var(--black);

   --accent-color: var(--darkgreen);
   --accent-color-light: var(--lightgreen); 
   
   --shadow-color: var(--grey);

   --spacing-xs: var(--xs);
   --spacing-sm: var(--sm);
   --spacing-md: var(--md);
   --spacing-lg: var(--lg);
   --spacing-xl: var(--xl);
   --spacing-xxl: var(--xxl);

   --border-radius: 0.5rem;
   --border-radius-sm: 0.25rem;
   --border-radius-lg: 1rem;
   --border-radius-xl: 1.5rem;
   --border-radius-xxl: 2rem;
   --border-radius-rounded: 50%;

   --font-size-xs: var(--xs);
   --font-size-sm: var(--sm);
   --font-size-md: var(--md);
   --font-size-lg: var(--lg);
   --font-size-xl: var(--xl);
   --font-size-xxl: var(--xxl);

   --max-container-width: 1200px;


}