.calculator { 
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr;

   width: 20rem;
   padding: var(--spacing-xs);

   border-radius: var(--border-radius-xl);
   background-color: var(--accent-color);

   .calculator__display {
      height: 100%;
      width: 100%;

      border-radius: var(--border-radius-lg);
      background-color: var(--white);
   }

   .calculator__buttons { 
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;

      & > button { 
         background-color: red;
         border: none;
         border-radius: var(--border-radius-rounded);

         width: var(--spacing-xl);
         height: var(--spacing-xl);
      }
   }
}