@import url("./base/_reset.css");
@import url('./abstracts/_variables.css');
@import url('./components/_title.css');
@import url('./partials/_calculator.css');


.container { 
   max-width: var(--max-container-width);
}

.container--center { 
   margin: 0 auto;
}

body { 
   font-family: var(--font-main);
   color: var(--text-color);

   line-height: 1.6;
   font-size: var(--font-size-sm);
}